Checks: 'cppcoreguidelines-*,clang-analyzer-*,modernize-*,-clang-diagnostic-ignored-optimization-argument'
FormatStyle: 'file'
WarningsAsErrors: '*'
HeaderFilterRegex: 'cppfcgi/.*\.hpp'
CheckOptions:
  - key:             modernize-use-auto.MinTypeNameLength
    value:           '0'